### ENV FILES ###
frontend/.env
backend/.env
mysql/.env

### BACKEND (Spring Boot / Maven) ###
backend/target/
backend/.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar

### IntelliJ ###
.idea/
*.iml

### Eclipse ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/

### VS Code ###
.vscode/

### FRONTEND (React / Vite) ###
frontend/node_modules/
frontend/dist/

### OS ###
.DS_Store